<div class="container body-content">
    <div class="row">
        <h1 style="text-align: center">Post Deleted</h1>
        <div class="pull-right">
            <a class="btn btn-default btn-xs" href="/article/articlesEdit">Return to Control panel &raquo;</a>
        </div>
    </div>
</div>